:root {
  /* Base colors */
  --bg-color-main: #f8f9fa; /* Very light grey background */
  --bg-color-secondary: #ffffff; /* White for cards and panels */
  --bg-color-task: #d6e4ff; /* Soft blue for tasks */
  --bg-color-accent: #b8daff; /* Lighter blue for buttons and interactive elements */
  --input-focus-color: #ffc069; /* Soft orange for focused inputs */

  /* Additional color accents */
  --text-color-primary: #5a5a5a; /* Dark grey for primary text */
  --hover-bg-color: #ffe7ba; /* Very soft orange for hover states */

  /* Typography */
  --font-primary: "Roboto", sans-serif;

  /* Margins and padding */
  --margin-big: 20px;
  --margin-medium: 12px;
  --margin-small: 8px;
  --padding-big: 20px;
  --padding-medium: 12px;
  --padding-small: 8px;
}

body {
  font-family: var(--font-primary);
  background-color: var(--bg-color-main);
  color: #333;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

ul.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  background-color: var(--bg-color-accent);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  opacity: 0.9;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: border-color 0.3s;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: var(--input-focus-color);
}

.dragged {
  opacity: 0.5;
}

.draft {
  opacity: 0.3;
}
