:root {
  /*colors*/
  --bg-color-main: #eeeeee;
  --bg-color-secondary: #cccccc;
  --bg-color-task: #accbff;

  /*margins*/
  --margin-big: 15px;
  --margin-medium: 8px;
  --margin-small: 3px;
  --padding-big: 15px;
  --padding-medium: 8px;
  --padding-small: 3px;
}

ul.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
